.Table {
    width: 90%;
    height: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    >.section {
        height: 125px;
        display: flex;
        gap: 2px;
        flex-direction: row;
    }
}