.SectionGame {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    >.SectionTrumps {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid white;
        >.Card {
            position: absolute;
        }
        >.backCard {
            transform: rotate(90deg);
            position: relative;
            top: 20px;
            z-index: 15;
        }
        // .trumpCard {
        //     position: absolute;
        // }
    }

    >.SectionBito {
        // border: 1px solid white;
    }

    >.sectionFight {
        width: 800px;
        height: 200px;

        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        position: relative;
        // border: 1px solid white;
        >.option {
            width: 120px;
            height: 135px;
            position: relative;
            // border: 1px solid white;
            >.Card {
                position: absolute;
            }
            >.Cardtwo {
                position: absolute;
                left: 25px;
                top: 5px;
                transform: rotate(5deg);
            }
        }
    }
}